[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
werkzeug = "~=2.0.0"
click = "*"
light-sql3 = "*"
sqlite3database = "*"
flask-login = "==0.5.0"
django = "*"
python-dotenv = "*"
bcrypt-flask = "*"
wtforms = "*"
email-validator = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
